03-HumanResources/candidate-tracking/workflow.json
{
  "name": "HR: Candidate Tracking",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "new-application"},
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {"listId": "hr_trello_list", "name": "={{$json.body.applicant_name}} - {{$json.body.role}}", "description": "Email: {{$json.body.email}}\nLinkedIn: {{$json.body.linkedin}}"},
      "name": "Create Trello Card",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {"channel": "#hr-recruitment", "text": "=🎉 New Application Received!\n*Name:* {{$node['Form Webhook'].json.body.applicant_name}}\n*Role:* {{$node['Form Webhook'].json.body.role}}"},
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Form Webhook": {"main": [[{"node": "Create Trello Card", "type": "main", "index": 0}]]},
    "Create Trello Card": {"main": [[{"node": "Slack Alert", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {}
}
