02-ECommerce-Operations/inventory-sync/workflow.json
{
  "name": "E-Commerce: Inventory Sync",
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"field": "hours", "triggerAtMinute": 0}]}},
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {"operation": "executeQuery", "query": "SELECT sku, stock_level FROM inventory WHERE updated_at >= NOW() - INTERVAL '1 hour';"},
      "name": "Postgres: Get Stock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {"url": "https://api.ecommerce.com/v1/inventory", "method": "PUT", "sendBody": true, "bodyParameters": {"parameters": [{"name": "sku", "value": "={{$json.sku}}"}, {"name": "qty", "value": "={{$json.stock_level}}"}]}},
      "name": "Update Storefront",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Schedule": {"main": [[{"node": "Postgres: Get Stock", "type": "main", "index": 0}]]},
    "Postgres: Get Stock": {"main": [[{"node": "Update Storefront", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {}
}
