04-DevOps-and-IT/backup-notifications/workflow.json
{
  "name": "DevOps: Backup Monitor",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "backup-status"},
      "name": "Webhook: Backup Result",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {"conditions": {"string": [{"value1": "={{$json.body.status}}", "value2": "success"}]}},
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {"channel": "#devops-alerts", "text": "=🚨 *CRITICAL: Backup Failed!*\n*Server:* {{$node['Webhook: Backup Result'].json.body.server_name}}\n*Error:* {{$node['Webhook: Backup Result'].json.body.error_log}}"},
      "name": "Slack Alert (Failed)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [640, 400]
    },
    {
      "parameters": {"operation": "append", "sheetId": "1BxiMVs0XRYFgwnV_eqV4u7iCw3...", "options": {}},
      "name": "Log Success (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [640, 200]
    }
  ],
  "connections": {
    "Webhook: Backup Result": {"main": [[{"node": "Is Success?", "type": "main", "index": 0}]]},
    "Is Success?": {"main": [[{"node": "Log Success (Sheets)", "type": "main", "index": 0}], [{"node": "Slack Alert (Failed)", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {}
}
